@use './../utils' as *;

html.is-active {
    overflow-y: hidden;
}
#header {
    width: 100%;

    .inner {
        height: vw(70px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        a {
            img {
                width: vw(84px);
            }
        }
    }

    h2 {
        a {
            font-size: vw(20px);
            line-height: 1.4;
        }
    }

   


   

    // hader end

    @include tablet {
        .inner {
       
        }

        h2 {
            a {
                font-size: vw(16px);
            }
        }
    }
} //header end
