@use './../utils' as *;

* {
    box-sizing: border-box;
}

body {
    background: #FBF5F7;
    font-family: 'Pretendard', sans-serif;
    // @include paddingX(16px);
    @include desktop {
        // padding-left: 5%;
        // padding-right: 5%;
    }
    @include tablet {
        // padding-left: 5%;
        // padding-right: 5%;
    }
}

body.modal-open {
    overflow: hidden;
}
